# ansible==2.3.0.0
arrow==0.10.0
boto3==1.4.4
celery==3.1.25
django==1.10.7
django-extensions==1.7.8
gunicorn==19.7.1
pip-tools==1.9.0
pynamodb==2.1.5
requests==2.13.0
virtualenvwrapper==4.7.2
smbus-cffi==0.5.1

# Tests
factory-boy==2.8.1
faker==0.7.7
flake8==3.3.0
pytest==3.1.1
pytest-cov==2.5.1
pytest-django==3.1.2
mock==2.0.0
pytest-mock==1.6.0
requests-mock==1.3.0
moto==1.0.0
